.container {
  width: 2rem;
  height: 2rem;
  overflow: hidden;

  --centered-val: 1rem;
}

.glyph {
  display: inline-block;
  width: var(--centered-val);
  height: var(--centered-val);
  vertical-align: top;
  fill: currentColor;
}

.si,
.tu,
.year-20,
.year-01 {
  display: block;
  height: var(--centered-val);
  transition: all 300ms ease;
}

.tu,
.year-01 {
  transition-delay: 75ms;
}

.container:hover .si,
.container:hover .tu,
.container:hover .year-20,
.container:hover .year-01 {
  transform: translateX(-100%);
}

.transform-name-to-year {
  transform: translateX(-100%);
}

.transform-year-to-name {
  transform: translateX(0);
}

.container-year {
  position: absolute;

  top: 0;
  left: 100%;

  width: 100%;
}
