.menu {
  @apply z-20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  will-change: transform;
}

.menu-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  text-align: center;
}

.menu ul {
  @apply text-3xl font-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 20px 0;
}

.menu li:hover {
  text-decoration: underline;
}

.button {
  outline: none;
  border: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  /* position: absolute; */

  /* top: 18px;
  left: 15px; */
  width: 50px;
  height: 50px;

  border-radius: 50%;

  @apply bg-slate-100 dark:bg-slate-700;
  padding: 10px;

  @apply z-30;
}

.button path {
  fill: pink;
}
