---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<html>
  <head>
    <BaseHead title="Blogs" description="Blog list" />
  </head>
  <body>
    <header>
      <h1>Situ Note</h1>
    </header>
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}`}>
                  <p>{post.data.title}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
