---
import FormattedDate from "../../components/FormattedDate";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPostSortedByDate, posts as postsData } from "../../api/blog";
import { BlogListItem } from "@/components/BlogListItem";

const posts = getPostSortedByDate(postsData);
---

<BaseLayout title="Blogs" description="Blog" fullWidth>
  <h1 class="text-3xl font-medium mb-8">Blog</h1>
  <ul>
    {posts.map((post) => <BlogListItem post={post} />)}
  </ul>
</BaseLayout>
