---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<html>
  <head>
    <BaseHead title="Blogs" description="Blog list" />
  </head>
  <body>
    <Header />
    <main class="p-4">
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="my-2 list-disc">
                <a href={`/blog/${post.slug}`}>
                  <p>{post.data.title}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
