---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<html>
  <head>
    <!-- TODO refactor to BaseHead -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blogs</title>
  </head>
  <body>
    <header>
      <h1>Situ Note</h1>
    </header>
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}`}>
                  <p>{post.data.title}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
