.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 1340px) {
  .container {
    display: block;
    max-width: 1260px;
  }
}

@media screen and (min-width: 740px) {
  .container {
    width: 90%;
  }
}