---
import { type CollectionEntry } from "astro:content";

import type { GetStaticPaths } from "astro";
import {
  getPostsGroupByCategory,
  getCategoryStaticPaths,
  posts as postsData,
  getPostSortedByDate,
} from "../../../api/blog";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import FormattedDate from "../../../components/FormattedDate";
import { BlogListItem } from "@/components/BlogListItem";

export const getStaticPaths = getCategoryStaticPaths(
  getPostsGroupByCategory(getPostSortedByDate(postsData))
);

type Props = {
  posts: CollectionEntry<"blog">[];
  category: string;
};

const { posts, category } = Astro.props;

// TODO use the styles of blog list page
---

<BaseLayout
  title={`Category ${category}`}
  description={`Page of category ${category}`}
  fullWidth
>
  <section>
    <h1 class="text-xl">Category: {category}</h1>
    <hr class="my-1" />
    <ul>
      {posts.map((post) => <BlogListItem post={post} />)}
    </ul>
  </section>
</BaseLayout>
