.menu {
  position: relative;
  @apply z-30;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
  clip-path: inset(0% 10% 100% 90% round 10px);
  position: absolute;
  top: 100%;
  /* TODO pop direction */
  right: 0;
  @apply my-4;
  @apply bg-slate-200;

  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  /* min-width: 300px; */
}

/* .menuList>*:not(astro-slot),
.menuList>astro-slot>* {
  transform-origin: -20px 50%;
} */

.menuButton {
  -webkit-appearance: button;
  appearance: button;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transform-origin: 50% 55%;
}

/* button path {
  fill: purple;
} */

.open {
  pointer-events: auto;
}