.menu {
  display: flex;
  flex-direction: column;
  
  width: auto;
  position: relative;

  @apply z-30;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #d1c4e9; /* Light purple */
  pointer-events: none;
  clip-path: inset(0% 10% 100% 90% round 10px);
  position: absolute;
  top: 100%;
  /* TODO pop direction */
  right: 0;
  min-width: 300px;
}

.menuItem {
  color: purple;
  display: block;
  transform-origin: -20px 50%;
}

.menuButton {
  -webkit-appearance: button;
  appearance: button;
  background: #d1c4e9; /* Light purple */
  /* color: purple; */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transform-origin: 50% 55%;
}

button path {
  fill: purple;
}

.open {
  pointer-events: auto;
}
