@reference "./global.css";

.katex-display {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

article p {
  @apply my-4;
  @apply leading-relaxed;

  word-break: break-word;
}

article h1 {
  @apply text-3xl mb-6 mt-8 font-bold;
}

article h2 {
  @apply text-2xl mb-6 mt-8 font-bold;
}

article h3 {
  @apply text-xl mb-3 mt-5 font-semibold;
}

article ol {
  @apply list-decimal list-outside my-4 pl-4;
}

article ul {
  @apply list-disc list-outside my-4 pl-4;
}

article table {
  display: block;
  overflow: scroll;
}

article table thead {
  @apply bg-zinc-100;
}

.dark article table thead {
  @apply bg-zinc-700;
}

article table th {
  @apply px-2 py-2 border border-zinc-200;
}

article table td {
  @apply px-2 py-2 border border-zinc-200;
}

article a {
  /* TODO make a small arrow to indicate jumping */
  @apply break-all underline underline-offset-2 my-4;
}

article a::after {
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
  content: "";
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='0.75em' viewBox='0 0 512 512'%3E%3Cpath d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z' %3E%3C/path%3E%3C/svg%0A%3E%0A") no-repeat;
  mask-size: cover;
  padding-left: 2px;
  vertical-align: text-top;
  background-color: black;
}

.dark article a::after {
  @apply bg-zinc-300;
}

article blockquote {
  @apply text-zinc-600 border-l-4 border-zinc-300 px-4 py-2 my-6 bg-zinc-50;
}

article blockquote > *:first-child {
  margin-top: 0;
}

article blockquote > *:last-child {
  margin-bottom: 0;
}

.dark article blockquote {
  @apply border-l-zinc-700;
  @apply bg-zinc-800;
  @apply text-zinc-300;
}

article img {
  margin: 0 auto;
  @apply rounded-xl;
}

.medium-zoom-overlay {
  @apply dark:bg-zinc-900!;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}
