@import '@fontsource-variable/noto-sans';
@import '@fontsource-variable/noto-serif';
@import '@fontsource-variable/noto-sans-sc';
@import '@fontsource-variable/noto-serif-sc';
/* @import '@fontsource-variable/noto-sans-tc'; */
/* @import '@fontsource-variable/noto-serif-tc'; */
/* @import '@fontsource-variable/noto-sans-jp'; */
/* @import '@fontsource-variable/noto-serif-jp'; */

/* @import '@fontsource-variable/noto-sans-mono'; */
@import "@fontsource/fira-code";

:root {
  --font-sans: "Noto Sans Variable", "Segoe UI", "Droid Sans", "Helvetica Neue";
  --font-cjk-sans: 'Noto Sans SC Variable', "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
  --font-serif: "Noto Serif Variable", "Georgia", "Times New Roman";
  --font-cjk-serif: 'Noto Serif SC Variable', "Songti SC", "STSong", "Microsoft YaHei";
  /* --font-mono: "Noto Sans Mono Variable", monospace; */
  --font-mono: "Fira Code", monospace;
}

body {
  @apply text-base;
  font-family: var(--font-sans), var(--font-cjk-sans), sans-serif;
  font-weight: 400;

  /* color transition for text */
  /* FIXME: Has performance issues on Safari */
  /* @apply transition-colors duration-200; */
}

/* class for controlling font-family */
.font-sans {
  font-family: var(--font-sans), var(--font-cjk-sans), sans-serif !important;
}

.font-serif {
  font-family: var(--font-serif), var(--font-cjk-serif), serif !important;
}

.font-mono {
  font-family: var(--font-mono), monospace !important;
}

/* Mono font */
pre,
code {
  font-family: var(--font-mono);
  @apply text-sm;
}

html.dark img {
  @apply brightness-75;
}

html.dark :not(pre) > code {
  @apply bg-zinc-600;
}

code:not(pre code) {
  @apply rounded px-1 bg-zinc-100 !important;
}

html.dark code:not(pre code) {
  @apply bg-zinc-600 !important;
}

pre {
  @apply rounded p-4 bg-zinc-100 !important;
}

/* Shiki code block highlight */
html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
