@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

body {
  margin: 0;
  font-family: 'Noto Serif SC', serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  align-self: center;
  justify-content: space-between;
}

.site-title {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.nav-link-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-link-item {
  margin: 16px;
}

.hidden-block {
  visibility: hidden;

}