.post-box {
  display: flex;
  justify-content: center;
}

.list-anchor {
  color: black;
  text-decoration: none;
  transition: color;
  transition-duration: 0.2s;
}

.list-anchor:hover {
  color: pink;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: max-content;
}

.sidebar {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

@media screen and (max-width: 740px) {
  .sidebar {
    display: none;
  }
}

.content {
  flex-grow: 5;
  flex-shrink: 5;
  flex-basis: 0;
  width: 0;
  /* max-width: 740px; */
}

/* rules for code that is not the child of pre */
:not(pre) > code[class*='language-'] {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
