@keyframes fade-from-bottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-from-top {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-from-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-from-right {
  from {
    transform: translateX(20px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeFromBottom {
  animation: 500ms ease-in-out fade-from-bottom;
}

.fadeFromTop {
  animation: 500ms ease-in-out fade-from-top;
}

.fadeFromLeft {
  animation: 500ms ease-in-out fade-from-left;
}

.fadeFromRight {
  animation: 500ms ease-in-out fade-from-right;
}
