.button {
  position: relative;

  --radius: 8px;
  --border: 1px;
  --padding: 1px;

  /* border-radius: var(--radius); */
  /* border: var(--border) solid hsl(0 0% 80%); */
  /* padding: var(--padding); */

  display: grid;
  place-items: center;

  transition: transform 0.1s;
  transform: translate(
      calc(var(--active, 0) * 2px),
      calc(var(--active, 0) * 2px)
    )
    rotate(calc(var(--hover, 0) * 5deg)) scale(calc(1 + var(--hover, 0) * 0.2));

  color: hsl(0 0% 20%);
}

.button:is(:hover, :focus-visible) {
  --hover: 1;
}

.button:active {
  --active: 1;
}

.text {
  z-index: 2;

  grid-column: 1;
  grid-row: 1;

  /* gap: 0.25rem; */
  /* display: flex; */
  /* align-items: center; */

  padding: 8px 8px;
}
