---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
---

<html>
  <head>
    <BaseHead title="Friends" description="Links to friends" />
  </head>
  <body>
    <Header />
    <main class="p-4">
        <!-- TODO refactor it -->
      <a class="underline underline-offset-4" href="https://ursb.me">Airing</a>
    </main>
  </body>
</html>
