---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import FriendCard from "../../components/FriendCard.astro";

import { friends } from "./ config";
---

<html>
  <head>
    <BaseHead title="Friends" description="Links to friends" />
  </head>
  <body>
    <Header />
    <main class="p-4 flex flex-col">
      {friends.map(({ name, link }) => <FriendCard name={name} link={link} />)}
    </main>
  </body>
</html>
