---
import FriendCard from "../../components/Card/FriendCard/index.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";

import Info from "./info.mdx";

import config from "config";
const friends = config.friends ?? [];
---

<BaseLayout title="Friends" description="My friends">
  <h1 class="text-2xl font-medium mb-4">Friends</h1>

  <div class="flex flex-col md:grid md:grid-cols-2 md:gap-4">
    {friends.map(({ name, link }) => <FriendCard name={name} link={link} />)}
  </div>

  <div class="mt-4">
    <Info />
  </div>

  <div class="mt-4 text-sm text-zinc-500">
    <p>
      If your information is stale, please contact me <a
        href=`mailto:${config.email}`
        class="underline">through email</a
      >
    </p>
  </div>
</BaseLayout>
