---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<html>
  <head>
    <BaseHead title="Situ Note" description="Home page" />
  </head>
  <body>
    <Header />
    <main class="p-4">
      <p>Welcome to my website.</p>
      <p>正在使用 Astro.js 重构中</p>
    </main>
  </body>
</html>
