---
import BaseLayout from "../layouts/BaseLayout.astro";

import {
  AboutMe,
  Roles,
  Contact,
  Blog,
  Categories,
} from "../components/home";

import { BLOG_TITLE } from "../config";
---

<BaseLayout title={BLOG_TITLE} description="Home Page">
  <div class="flex flex-col gap-4">
    <AboutMe />
    <Roles />
    <Blog />
    <Contact client:load />
    <!-- <Categories /> -->
  </div>
</BaseLayout>
