---
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
    <title>Situ Note</title>
  </head>
  <body>
    <header>
      <h1>Situ Note</h1>
    </header>
    <main>
      <a href="/blog">Goto my Blogs</a>
    </main>
  </body>
</html>
