---
import BaseLayout from "../layouts/BaseLayout.astro";
import config from "config";

import HeroSection from "@/modules/home/HeroSection.astro";
import Projects from "@/modules/home/Projects.astro";
import { getRecentKPosts, posts, posts as postsData } from "@/api/blog";
import ViewMoreTips from "@/components/ViewMoreTips.astro";
import { BlogListItem } from "@/components/BlogListItem";
import BlogSection from "@/modules/home/BlogSection.astro";

const BLOG_TITLE = config.title;
const BLOG_DESCRIPTION = config.description;

const recentPosts = getRecentKPosts(postsData, 5);
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <section class="mt-5 mb-7.5">
    <HeroSection />
  </section>
  <section class="mt-5 mb-7.5">
    <BlogSection />
  </section>
</BaseLayout>
