---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Situ Note" description="Home page" />
  </head>
  <body>
    <Header />
    <main>
      <p>Welcome to my website.</p>
    </main>
  </body>
</html>
