---
import BaseLayout from "../layouts/BaseLayout.astro";
import config from "config";

import HeroSection from "@/modules/home/HeroSection.astro";
import BlogSection from "@/modules/home/BlogSection.astro";

const BLOG_TITLE = config.title;
const BLOG_DESCRIPTION = config.description;
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <section class="mt-5 mb-7.5">
    <HeroSection />
  </section>
  <!-- TODO: Consider bringing back a curated projects section for the portfolio homepage. -->
  <section class="mt-5 mb-7.5">
    <BlogSection />
  </section>
</BaseLayout>
