---
import BaseLayout from "../layouts/BaseLayout.astro";
import config from "config";

import More from "@/components/common/More";
import { HeroSection, Blog } from "@/modules/home";
import Projects from "@/modules/home/Projects.astro";
import { getRecentKPosts, posts as postsData } from "@/api/blog";

const BLOG_TITLE = config.title;
const BLOG_DESCRIPTION = config.description;

const recentPosts = getRecentKPosts(postsData, 5);
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <section class="my-5">
    <HeroSection />
  </section>

  {
    config.projects && config.projects.length > 0 && (
      <section class="my-5">
        <div class="flex items-center justify-between mb-2">
          <h2 class="text-xl font-medium">Projects</h2>
          <More href="/projects" />
        </div>
        <Projects />
      </section>
    )
  }

  <section class="my-5">
    <Blog posts={recentPosts} />
  </section>
</BaseLayout>
