---
import BaseLayout from "../layouts/BaseLayout.astro";

import {
  HeroSection,
  Roles,
  Projects,
  Blog,
  Categories,
} from "../modules/home";

import config from "config";
const BLOG_TITLE = config.title;
const BLOG_DESCRIPTION = config.description;
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <div class="flex flex-col gap-4 md:gap-12">
    <section class="flex gap-4 md:gap-8 flex-col md:flex-row justify-between mt-4">
      <div>
        <HeroSection client:load />
      </div>
      <div class="pt-4 md:pt-0 md:w-1/3 md:min-w-96">
        <Roles client:load />
      </div>
    </section>

    {
      config.projects && config.projects.length > 0 && (
        <section>
          <Projects client:load />
        </section>
      )
    }

    <section>
      <section class="flex flex-col md:flex-row gap-4">
        <div class="w-full md:w-1/2">
          <Blog />
        </div>
        <div class="w-full md:w-1/2">
          <Categories />
        </div>
      </section>
    </section>
  </div>
</BaseLayout>
