---
import BaseLayout from "../layouts/BaseLayout.astro";

import Card, { FadeFromDirection } from "../components/Card";
import { LatestBlog } from "../components/LatestBlog";
import { SelfIntro, SelfLinks } from "../components/SelfIntro";

import { Category } from "../components/Categories";
---

<style>
  .grid-block {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .item-self-intro {
    grid-column: 1 / 2;
  }

  .item-self-link {
    grid-column: 2 / 4;
  }

  .item-latest-blog {
    grid-column: 1 / 3;
  }

  .item-category {
    grid-column: 3 / 4;
  }
</style>

<BaseLayout title="Situ Note" description="Home Page" topNavigationAnimation>
  <div class="block md:grid grid-block">
    <div class="item-self-intro">
      <Card fadeFromDirection={FadeFromDirection.Top} fullHeight>
        <SelfIntro />
      </Card>
    </div>

    <div class="item-self-link">
      <Card fadeFromDirection={FadeFromDirection.Right} fullHeight>
        <SelfLinks client:load />
      </Card>
    </div>

    <div class="item-latest-blog">
      <Card fadeFromDirection={FadeFromDirection.Left} fullHeight>
        <LatestBlog client:load />
      </Card>
    </div>

    <div class="item-category">
      <Card fadeFromDirection={FadeFromDirection.Bottom} fullHeight>
        <Category />
      </Card>
    </div>
  </div>
</BaseLayout>
