---
import BaseLayout from "../layouts/BaseLayout.astro";
import config from "config";

import More from "@/components/common/More";
import { HeroSection, Roles, Blog } from "@/modules/home";
import Projects from "@/modules/home/Projects.astro";
import {
  getRecentKPosts,
  getPostSortedByDate,
  getPostsGroupByCategory,
  posts as postsData,
} from "@/api/blog";

const BLOG_TITLE = config.title;
const BLOG_DESCRIPTION = config.description;

const recentPosts = getRecentKPosts(postsData, 5);
const postsGroupByCategory = getPostsGroupByCategory(
  getPostSortedByDate(postsData)
);
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <div class="flex flex-col gap-4 md:gap-8">
    <section
      class="flex gap-4 md:gap-8 flex-col md:flex-row justify-between mt-4"
    >
      <HeroSection client:load />
    </section>

    {
      config.roles && config.roles.length > 0 && (
        <section>
          <Roles client:load />
        </section>
      )
    }

    {
      config.projects && config.projects.length > 0 && (
        <section>
          <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-medium">Projects</h2>
            <More href="/projects" />
          </div>
          <Projects />
        </section>
      )
    }

    <section>
      <Blog posts={recentPosts} />
    </section>
  </div>
</BaseLayout>
