---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import { Card } from "../components/Card";
import { LatestBlog } from "../components/LatestBlog";
import { SelfIntro } from "../components/SelfIntro";
---

<html>
  <head>
    <BaseHead title="Situ Note" description="Home page" />
  </head>
  <body>
    <Header />
    <main class="p-4 md:w-180 md:mx-auto">
      <Card client:load>
        <SelfIntro client:load />
      </Card>
      <Card client:load>
        <LatestBlog client:load />
      </Card>
    </main>
  </body>
</html>
