---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Proj from "@/modules/home/Projects.astro";
---

<BaseLayout title="Projects" description="My projects">
  <h1 class="text-3xl font-medium mb-8">Projects</h1>
  <Proj showAll />
</BaseLayout>
