.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  align-self: center;
  justify-content: space-between;
}

.site-title {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.nav-link-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.btn-menu {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-menu div {
  width: 24px;
  height: 2.4px;
  background-color: black;
  margin: 6px;
}