---
import "../styles/header.css";
---

<header class="p-4">
  <nav class="text-xl">
    <h2 class="left"><a href="/">Situ Note</a></h2>
    <div class="right flex">
      <h2><a rel="prefetch" href="/blog">Blog</a></h2>
      <h2 class="ml-4"><a href="/friends">Friends</a></h2>
      <h2 class="ml-4"><a href="/rss.xml">RSS</a></h2>
    </div>
  </nav>
</header>
