---
import "../styles/header.css";
---

<header>
  <nav>
    <h2 class="left"><a href="/">Situ Note</a></h2>
    <div class="right">
      <h2><a href="/blog">Blog</a></h2>
    </div>
  </nav>
</header>
