---
import BaseHtmlHead from "./BaseHtmlHead.astro";
import NavigationBar from "./NavigationBar";

import config from "config";
const { author } = config;

interface Props {
  title: string;
  description: string;
  fullWidth?: boolean;
}
const { title, description } = Astro.props;

const year = new Date().getFullYear();
---

<html lang="zh">
  <head>
    <BaseHtmlHead title={title} description={description} />
  </head>
  <body
    class="bg-white dark:bg-zinc-900 text-zinc-800 dark:text-zinc-300 h-full"
  >
    <header class="top-0 sticky z-50">
      <NavigationBar client:load />
    </header>
    <main class="p-6 mx-auto max-w-screen-md">
      <slot />
    </main>
  </body><footer
    class="p-6 mx-auto max-w-screen-md text-center text-sm text-zinc-500 flex flex-col-reverse gap-2 md:gap-0 md:flex-row justify-between"
  >
    <p>
      © {year}
      {author}. All rights reserved.
    </p>
    <p>
      <a href="/changelog" class="underline">Changelog</a>
    </p>
  </footer>
</html>
