---
import BaseHtmlHead from "../components/BaseHtmlHead.astro";
import TopNavigation from "../components/TopNavigation.astro";

interface Props {
  title: string;
  description: string;
  fullWidth?: boolean;
}
const { title, description, fullWidth } = Astro.props;
---

<html lang="zh">
  <head>
    <BaseHtmlHead title={title} description={description} />
  </head>
  <body>
    <TopNavigation />
    <main class="p-4 mx-auto max-w-6xl">
      <slot />
    </main>
  </body>
</html>
