---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "../components/FormattedDate.astro";

import BaseLayout from "./BaseLayout.astro";

import "../styles/blog-post.css";

type Props = CollectionEntry<"blog">["data"];
const { title, description, date } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <h1>{title}</h1>
  <FormattedDate date={date} />
  <hr />
  <article>
    <slot />
  </article>
</BaseLayout>
