---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <!-- TODO refactor to BaseHead -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
