---
import type { CollectionEntry } from "astro:content";

import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

import "../styles/blog-post.css";

type Props = CollectionEntry<"blog">["data"];
const { title, description, date } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <h1>{title}</h1>
      <FormattedDate date={date} />
      <hr />
      <slot />
    </main>
  </body>
</html>
