---
import "../styles/header.css";
import SiteLogo from "../components/SiteLogo";
import Menu from "../components/Menu";
import type { Link } from "../components/Menu/types";

const links: Link[] = [
  { link: "/blog", content: "Blog" },
  { link: "/friends", content: "Friends" },
  { link: "/rss.xml", content: "RSS" },
];

type Props = {};

const {} = Astro.props;
---

<script>
  import { throttle } from "es-toolkit";
  import { isTwoElementsIntersecting } from "../utils/intersection";

  const onScroll = () => {
    const header = document.querySelector("header");
    const main = document.querySelector("main");
    if (!header || !main) return;

    const isIntersecting = isTwoElementsIntersecting(header, main);
    const fn = isIntersecting ? "add" : "remove";

    if (!isIntersecting) {
      header.classList.add("bg-white", "dark:bg-slate-800");
      header.classList.remove("bg-slate-100", "dark:bg-slate-700");
    } else {
      header.classList.remove("bg-white", "dark:bg-slate-800");
      header.classList.add("bg-slate-100", "dark:bg-slate-700");
    }
  };

  window.addEventListener("scroll", throttle(onScroll, 100));
  onScroll();
</script>

<header
  class="p-4 lg:mt-4 lg:mb-4 top-0 sticky transition-colors duration-300 z-10"
>
  <nav class="text-xl mx-auto max-w-screen-lg">
    <h2 class="left">
      <a href="/" class="font-serif">
        <SiteLogo client:load />
      </a>
    </h2>

    <div class="right flex items-center gap-4">
      <h2>
        <a rel="prefetch" href="/blog">Blog</a>
      </h2>
      <h2>
        <a href="/friends">Friends</a>
      </h2>
      <h2>
        <a href="/rss.xml">RSS</a>
      </h2>
      <Menu links={links} client:only />
    </div>
  </nav>
</header>
