---
import ProjectCard from "./ProjectCard";
import config from "config";

interface Props {
  /**
   * if not, only featured projects will be shown
   */
  showAll?: boolean;
}

const projects = config.projects ?? [];

const { showAll = false } = Astro.props as Props;
---

<div class="relative py-2">
  <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
    {
      projects
        .filter((p) => showAll || p.featured)
        .map((project, index) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            link={project.link}
            icon={project.icon}
          />
        ))
    }
  </div>
</div>
