---
// filepath: /Users/situ/Codes/situ-note/src/modules/home/Projects.astro
import ProjectCard from "./ProjectCard";

import config from "config";
const projects = config.projects ?? [];
---

{
  projects.length > 0 && (
    <div class="relative">
      <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
        {projects.map((project, index) => (
          <div class="h-full">
            <ProjectCard
              title={project.title}
              description={project.description}
              link={project.link}
              icon={project.icon}
            />
          </div>
        ))}
      </div>
    </div>
  )
}
