.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 740px) {
  .container {
    flex-direction: column;
  }
  .left-card {
    width: 100%;
  }
}

.left-card {
  flex-grow: 1;
  word-wrap: break-word;
}

.right-card {
  flex-grow: 0;
}

.title {
  font-size: 1.75rem;
  text-decoration: none;
  color: black;
}

.btn {
  color: black;
  background-color: white;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 2px;
  padding: 0 20px;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: black;
  color: white;
}
